/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize';
@import 'font-awesome/scss/font-awesome';


.app{
	background: rgb(176,219,232); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(176,219,232,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(176,219,232,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(176,219,232,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0dbe8', endColorstr='#009ec3',GradientType=0 );

	height: 100vh;
}

//////////LOG IN/////////////////////////////////

.login-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	flex-wrap: wrap;
	height: 100vh;
}

.logo-header{
	font-family: 'Pacifico', cursive;
	font-size: 62px;
}

.logo-subheader{
	font-family: 'Pacifico', cursive;
	font-size: 22px;
}

.login {
	border-radius: 10px;
	padding: 25px;
	background-color: white;
	// opacity: 0.4;

}

.login h1 {
	margin: 0;

}

.login button{
	float: right;
	background-color: transparent;
	border-radius: 5px;
}